<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,197},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>bird1Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,295},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird1Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,289},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird1Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,292},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird2Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,256},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird2Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,250},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird2Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,215},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird3Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,253},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird3Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,217},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird3Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,211},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird4Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,172},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird4Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,158},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>bird4Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,83},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>cloudInBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,172},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>copter.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,69},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>copterAnimation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,492},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAnimation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,492},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAnimation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,492},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAnimation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,202},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAnimation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,187},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAnimation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,172},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>copterAxis.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,80},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>flappyWingsLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{216,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,88}}</string>
                <key>sourceSize</key>
                <string>{216,88}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,239},{113,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{113,51}</string>
            </dict>
            <key>gamecenterAndroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,215},{113,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{113,51}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,122},{200,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,64}}</string>
                <key>sourceSize</key>
                <string>{200,64}</string>
            </dict>
            <key>gameoverBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{233,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,120}}</string>
                <key>sourceSize</key>
                <string>{233,120}</string>
            </dict>
            <key>getReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,81}}</string>
                <key>sourceSize</key>
                <string>{252,81}</string>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,179},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,187},{113,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{113,51}</string>
            </dict>
            <key>medalBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,368},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>medalGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,321},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>medalNone.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,428},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>medalPlatinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,381},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>medalSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,334},{103,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,46}}</string>
                <key>sourceSize</key>
                <string>{103,46}</string>
            </dict>
            <key>newScoreIndicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,158},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>rateus.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,122},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>removeAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,291},{113,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,29}}</string>
                <key>sourceSize</key>
                <string>{113,29}</string>
            </dict>
            <key>restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,475},{113,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,29}}</string>
                <key>sourceSize</key>
                <string>{113,29}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,291},{113,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,29}}</string>
                <key>sourceSize</key>
                <string>{113,29}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,440},{113,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,51}}</string>
                <key>sourceSize</key>
                <string>{113,51}</string>
            </dict>
            <key>swinger.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1},{19,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,67}}</string>
                <key>sourceSize</key>
                <string>{19,67}</string>
            </dict>
            <key>tapTutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{109,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,186}}</string>
                <key>sourceSize</key>
                <string>{109,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameSpriteSheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8d479e910dcd0b146c8c012b61599a:1/1$</string>
            <key>textureFileName</key>
            <string>gameSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
