<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1172},{160,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,140}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>bird1Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1741},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird1Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1894},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird1Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1741},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird2Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1588},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird2Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1447},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird2Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1435},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird3Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1294},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird3Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,936},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird3Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,783},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird4Animate1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,630},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird4Animate2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,477},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>bird4Animate3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,324},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>cloudInBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,739},{520,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,320}}</string>
                <key>sourceSize</key>
                <string>{520,320}</string>
            </dict>
            <key>copter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,269},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>copterAnimation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1663},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAnimation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1606},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAnimation3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1549},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAnimation4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1492},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAnimation5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1435},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAnimation6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,705},{184,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,56}}</string>
                <key>sourceSize</key>
                <string>{184,56}</string>
            </dict>
            <key>copterAxis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,269},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>flappyWingsLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{864,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{864,350}}</string>
                <key>sourceSize</key>
                <string>{864,350}</string>
            </dict>
            <key>gamecenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1089},{452,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,204}}</string>
                <key>sourceSize</key>
                <string>{452,204}</string>
            </dict>
            <key>gamecenterAndroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1060},{452,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,204}}</string>
                <key>sourceSize</key>
                <string>{452,204}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,482},{800,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,256}}</string>
                <key>sourceSize</key>
                <string>{800,256}</string>
            </dict>
            <key>gameoverBanner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1},{932,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,480}}</string>
                <key>sourceSize</key>
                <string>{932,480}</string>
            </dict>
            <key>getReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1008,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1008,322}}</string>
                <key>sourceSize</key>
                <string>{1008,322}</string>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,564},{196,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,140}}</string>
                <key>sourceSize</key>
                <string>{196,140}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,967},{452,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,204}}</string>
                <key>sourceSize</key>
                <string>{452,204}</string>
            </dict>
            <key>medalBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1265},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>medalGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,860},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>medalNone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,675},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>medalPlatinum.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,860},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>medalSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,675},{412,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,184}}</string>
                <key>sourceSize</key>
                <string>{412,184}</string>
            </dict>
            <key>newScoreIndicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,482},{206,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,81}}</string>
                <key>sourceSize</key>
                <string>{206,81}</string>
            </dict>
            <key>rateus.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1294},{312,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,140}}</string>
                <key>sourceSize</key>
                <string>{312,140}</string>
            </dict>
            <key>removeAds.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,1172},{452,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,116}}</string>
                <key>sourceSize</key>
                <string>{452,116}</string>
            </dict>
            <key>restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1916},{452,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,116}}</string>
                <key>sourceSize</key>
                <string>{452,116}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1045},{452,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,116}}</string>
                <key>sourceSize</key>
                <string>{452,116}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,762},{452,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,204}}</string>
                <key>sourceSize</key>
                <string>{452,204}</string>
            </dict>
            <key>swinger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1943,1},{75,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,267}}</string>
                <key>sourceSize</key>
                <string>{75,267}</string>
            </dict>
            <key>tapTutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1172},{436,743}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,743}}</string>
                <key>sourceSize</key>
                <string>{436,743}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameSpriteSheet-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1708e6c3fa62628ff0278c240a522bf:1/1$</string>
            <key>textureFileName</key>
            <string>gameSpriteSheet-ipadhd.png</string>
        </dict>
    </dict>
</plist>
